@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "IBM Plex Sans", system-ui, sans-serif;
    color: #333;
  }
}

root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
